*{
    margin: 0;
    padding: 0;
}
 .mg{
    /* width: 40px; */
    /* border: none; */
} 

.plus-btn , .notification-btn , .sign-btn{
   border: none;
}
.nav-btn{
  border: none !important;
}
.form-control{
    border-radius: 50px !important;
    border-top-right-radius: 0px !important ;
    border-bottom-right-radius: 0px !important;
    justify-content: center !important;
    align-items: center !important;
}
.search-btn{
    background-color: #F0F0F0 !important;
    color: black !important;
    border-top-left-radius: 0px !important ;
    border-bottom-left-radius: 0px !important;
    height: fit-content !important;
}
.yt-image{
    display: flex;
    align-items: flex-start;
}


.card-body{
    margin: 0px !important;
    padding: 0px !important;
    border: none;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}
.logo-title{
    display: flex;
    padding: 10px;
    padding-bottom: 2px;
    gap: 10px;
    /* align-items: center; */
}
.channel-logo{
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}



.card{
    border-radius: 20px !important;
    border: none !important;
}
.card-img-top{
   border-radius: 20px !important;
}
.card .card-img-top{
    border-top-left-radius: none !important;
    border-top-right-radius: none !important;
}
.vid-title{
    font-size: 14px ;
    font-weight: 600;
}
.channel-name{
    text-decoration: none;
    color: rgb(78, 74, 74);
    font-size: 12px;   

}
.channel-info{
    margin-left: 5px;
    padding-left: 55px;
}
.count-info{
    margin-left: 5px;
    padding-left: 55px;
    font-size: 12px;
}
.row{
    margin-top:100px;
    margin-bottom:20px;
}


@media (max-width:720px) {
    .video  {
        display: flex;
        justify-content: center;
        margin: 10px 3px;
    }
    .first-video {
        margin-top: 60px !important;
    }
    .icons {
        display: flex;
        justify-content: center !important;
    }
    
}


.toggle-menu {
    font-size: 20px;
    margin-right: 10px;
}

form {
    width: 500px;
    margin-left: 30px;
}

.search-btn {
    background-color: #F2F2F2 !important;
    color: wheat;
    padding-left: 14px;
    padding-right: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-btn > i {
    color: #1C1C1C;
}

.search-btn:hover {
    background-color: #d8d5d5 !important ;
}


.icons {
    display: flex;
justify-content: end;
gap: 20px;
}
